name: Example Workflow

on:
  push:
    branches: [ main ]

jobs:
  job_1:
    runs-on: ubuntu-latest
    steps:
      - name: Run Job 1
        run: "echo Job ${{ github.job }}"
  
  job_2:
    runs-on: ubuntu-latest
    needs: job_1
    steps:
      - name: Run Job 2
        run: "echo Job ${{ github.job }}"
  
  job_3:
    runs-on: ubuntu-latest
    needs: job_1
    steps:
      - name: Run Job 3
        run: "echo Job ${{ github.job }}"
  
  job_4:
    runs-on: ubuntu-latest
    needs: [job_2, job_3]
    steps:
      - name: Run Job 4
        run: "echo Job ${{ github.job }}"