name: Student project backup

on:
    workflow_dispatch:
        
jobs: 
    backup:
        runs-on: ubuntu-latest
        steps: 
            - name: Backup 
              run: |
                echo "backing up project at $(date)"
                echo "backup created"